body {
  font-family: 'Oswald', sans-serif;
  color: rgb(255, 222, 189);
  margin: 0;
  padding: 0;
  background: url('./Background.png') no-repeat center center fixed;
  background-size: cover;
}

#bodyalt {
  font-family: 'Oswald', sans-serif;
  color: rgb(255, 222, 189);
  margin: 0;
  padding: 0;
  background: url('./altbg.jpg') no-repeat center center fixed;
  background-size: cover;
}

.image-container {
  text-align: center;
  width: 150px;
  height: 150px; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-wrapper {
  padding: 20px;
  text-align: center;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.container {
  max-width: 800px;
  padding: 20px;
}

.site-logo {
  margin-bottom: 20px;
}

.profile-text h1 {
  font-size: 2.5rem;
  margin: 10px 0;
}

.profile-text p {
  font-size: 1rem;
  margin: 10px 0;
}

.links {
  margin: 20px 0;
}

.contact-email {
  display: block;
  font-weight: bold;
  color: #0078D4;
  text-decoration: none;
  margin: 10px 0;
}

.contact-email:hover {
  text-decoration: underline;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.social-link {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
}

.twitter-link {
  background-color: #0078D4;
}

.discord-link {
  background-color: #5865F2;
}

.youtube-link {
  background-color: #FF0000;
}

.spotify-link {
  background-color: #1DB954;
}

.games-section {
  text-align: center;
  padding: 20px;
}

.games-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.game-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.pics img {
  width: 50px; 
  height: 50px; 
  object-fit: cover; 
}

.random-quote-section {
  font-size: 1.5em;
  color: #000; 
  color: rgb(255, 222, 189);
  text-align: center; 
  padding: 20px;
  border-radius: 5px;
}


footer {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
  color: rgb(0, 0, 0);
  margin-top: auto; 
  font-size: 0.9rem;
}

footer p {
  margin: 5px 0;
}
